@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div.page {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  padding: 10px;
}

.full-width {
  width: 100%;
}

#sign-in-form {
  margin: 0 auto;
  max-width: 300px;
  padding-top: 50px;
}

.dialog-card {
  max-width: 300px;
}

#search-page table {
  margin-top: 10px;
}

#search-page form {
  margin: 0 auto;
  max-width: 300px;
}

#search-page table {
  margin: 0 auto;
}

#user-admin-page table {
  margin: 0 auto;
}
