<div class="modal" :class="{ 'is-active': show }">
  <div class="modal-background"></div>
  <form>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Change Password</p>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Old Password</label>
          <div class="control has-icons-left">
            <input class="input" type="password" placeholder="Old password..." v-model="oldPassword">
            <span class="icon is-small is-left">
              <i class="fa fa-key"></i>
            </span>
          </div>
        </div>

        <div class="field">
            <label class="label">New Password</label>
          <div class="control has-icons-left">
            <input class="input" type="password" placeholder="New password..." v-model="newPassword">
            <span class="icon is-small is-left">
              <i class="fa fa-key"></i>
            </span>
          </div>
        </div>

        <div class="field">
            <label class="label">Confirm Password</label>
          <div class="control has-icons-left">
            <input class="input" type="password" placeholder="Confirm password..." v-model="confirmPassword">
            <span class="icon is-small is-left">
              <i class="fa fa-key"></i>
            </span>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="save" :class="{ 'is-loading': isBusy }">
          <span>
            <i class="fa fa-save"></i> Save
          </span>
        </button>
        <button class="button" @click="cancel">
          <span>
            <i class="fa fa-ban"></i> Cancel
          </span>
        </button>
      </footer>
    </div>
  </form>
</div>
