<template bindable="user">
  <nav>
    <div class="navbar-header">
      Visitor-Track |
      <span>${ user.displayName }</span>
    </div>

    <div class="navbar-menu">
      <ul>
        <li>
          <a href="#main/home">Home</a>
        </li>
        <li>
          <a href="#main/visitor-search">Search</a>
        </li>
        <li>
          <a href="#main/user-administration" if.bind="user.isAdmin">Users</a>
        </li>
        <li>
          <a href="#main/user-profile">Profile</a>
        </li>
        <li>
          <button class="button-primary" click.trigger="onSignOut()">Sign Out</button>
        </li>
      </ul>
    </div>
    <div class="u-cf"></div>
  </nav>
</template>
