<nav class="navbar is-light">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Visitor-Track
    </a>
    <div class="navbar-burger burger" data-target="main-navbar" v-toggle-navbar-burger>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="main-navbar" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <router-link to="home">
          <i class="fa fa-home"></i> Home
        </router-link>
      </div>
      <div class="navbar-item">
        <router-link to="search">
          <i class="fa fa-search"></i> Search
        </router-link>
      </div>
      <div class="navbar-item" v-if="displayUserLink">
        <router-link to="users">
          <i class="fa fa-users"></i> Users
        </router-link>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          <span>
            <i class="fa fa-user"></i> {{ user.displayName }}</span>
        </div>
        <div class="navbar-dropdown is-boxed">
          <div class="navbar-item">
            <a>
              <span>
                <i class="fa fa-key"></i> Change Password
              </span>
            </a>
          </div>
          <hr class="navbar-divider">
          <div class="navbar-item">
            <a @click="signOut">
              <span>
                <i class="fa fa-sign-out"></i> Sign Out
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
