<section mt-view="search">
  <div class="mdl-grid max-width-1080">
    <div class="mdl-layout-spacer"></div>
    <div v-mdl:textfield class="mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="searchControl" name="searchControl">
        <label class="mdl-textfield__label" for="searchControl">Search members / visitors...</label>
    </div>
    <div class="mdl-layout-spacer"></div>
  </div>
  <div class="mdl-grid demo-content">
    <div class="mdl-layout-spacer"></div>
    <span class="loading-text" v-show="!dataSource.length">
        No results found...
    </span>
    <table v-mdl:data-table class="mdl-shadow--2dp" v-show="dataSource.length">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Age Group</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in dataSource" :key="item.id">
          <td>{{ item.fullName }}</td>
          <td>{{ item.statusName }}</td>
          <td>{{ item.ageGroupName }}</td>
          <td>
            <router-link v-mdl:button class="mdl-button--accent" to="home">
                  View Details
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mdl-layout-spacer"></div>
  </div>
</section>
