<section mt-view="users">
  <div class="mdl-grid max-width-1080">
    <div class="mdl-layout-spacer"></div>
    <table v-mdl:data-table class="mdl-shadow--2dp" v-show="dataSource.length">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in dataSource" :key="item.id">
          <td>{{ item.displayName }}</td>
          <td>{{ item.emailAddress }}</td>
          <td>{{ item.roleName }}</td>
          <td>
            <button v-mdl:button :id="item.id" class="mdl-button--icon">
              <i class="material-icons">more_vert</i>
            </button>

            <ul v-mdl:menu class="mdl-menu--bottom-right mdl-js-ripple-effect" :for="item.id">
              <li class="mdl-menu__item">Edit</li>
              <li class="mdl-menu__item">Delete</li>
              <li class="mdl-menu__item">Reset Password</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mdl-layout-spacer"></div>
  </div>
  <button v-mdl:button type="button" class="mdl-button--raised mdl-js-ripple-effect mdl-button--primary add-btn" @click="displayUserDialog()">
    New User
  </button>
</section>
